.Header {
    /* padding-right: 2em; */
    display: flex;
    border-bottom: 1px solid rgb(250, 104, 177);
    justify-content: space-between;
    align-items: center;
    /* width: 1em; */
    background-color: rgb(255, 255, 255);
    position: relative;

}

#Logo {
    display: flex;
    align-items: center;
}


#search {
    display: flex;
    align-items: center;
    right: 100px;
    z-index: 2;
}

.absolute {
    position: absolute;
}



#search input {
    border: none;
    outline: none;
    font-size: 1.5em;
    margin: .3em;
    width: 13em;
    border: 2px solid black;
    border-radius: 100px;
    padding: .1em 1em;
}




#search button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#lookingGlass {
    font-size: 1.8em;
    color: hotpink;
    cursor: pointer;
    z-index: 100;
}

#burgerTrigger {
    position: absolute;
    right: 40px;
    top: 45px;
    width: 35px;
    height: 26px;
    z-index: 1;
    cursor: pointer;
}

.HamburgerMenu {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .7s ease-in-out;
    -moz-transition: .7s ease-in-out;
    -o-transition: .7s ease-in-out;
    transition: .7s ease-in-out;
}



.HamburgerMenu span {
    display: block;
    background-color: hotpink;
    position: absolute;
    height: 3px;
    width: 35px;
    opacity: 1;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    z-index: 1;
}

.HamburgerMenu span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.HamburgerMenu span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.HamburgerMenu span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.HamburgerMenu.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

}

.HamburgerMenu.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.HamburgerMenu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    right: 1px;
}

.Nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 30%;
    right: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.829);
    padding: 10em;
}

.fixed {
    position: fixed;
}

#notOpen {
    display: none;
}

.Nav a {
    margin: 1em;
    text-decoration: none;
    color: hotpink;
    cursor: pointer;
}




@media only screen and (min-width: 600px) {}