.Recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipeList {
    background-color: whitesmoke;
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr);
    /* align-items: center; */
    height: 10em;
    width: 100%;
}


#recipeList a {
    text-decoration: none;
}


.recipeLink {
    grid-area: 1/2/1/4;
    padding: .4em;
    
}

#textBox{
    height:7em;
    overflow: scroll;
}


#textBox h2 {
    color: rgb(65, 64, 64);
    font-size: 1em;
}

#textBox p{
    color: rgb(73, 73, 73);
    font-size: .9em;
}

#favHeart{
    color: tomato;
    cursor: pointer;
    margin-left: .4em;
}